html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

body {
  font-family: sans-serif;
  color: #2a2a2a; }

a {
  color: #0388a6; }
  a:hover {
    color: #009ce0; }

#main {
  padding: 50px; }


h1{
  
  color:purple; 
  font-size:4em;
  padding: 5px;
  border-style: groove;
  border-bottom:groove;
  border-bottom-width: 10px;
  border-color: red;
  opacity: 0.75;
}

h2{color:rgb(209, 58, 66);
font:bolder 1.7em Futra;
font-weight: 900;
padding: 10px;
margin-bottom: 30px;
border-style: groove;
border-bottom:groove;
border-bottom-width: 10px;
border-color: red;
}

p#Source_Code {
position: relative;
float: left;
margin-bottom: 0px;
margin-top: 8%;
font-size: 1.5em;
}

p#Resume {
font-size: 1.5em;
position: relative;
float: right;
margin-top: 8%;
margin-bottom: 0px;
}

p#Description {
text-align: center;
font:bold 20px Futra,Times, sans-serif;
color: black;
padding: 30px;
margin-right: 125px;
margin-left: 125px;
margin-bottom: 30px;
border-style: dashed;
border-left: solid 30px;
border-right: solid 30px; 
}

h3 {
font:bolder 40px Futra;
text-align: center;
border-style: solid;
border-bottom:solid; 
border-bottom-width: 3px;
padding: 0px;
}

h4{
font:bold 30px Futra;
/*margin-left: -7%;
margin-top: 20px;
margin-bottom: 15px;*/
display: inline-block;
border-style: :dashed;
border-bottom: dashed;
border-bottom-width: 3px;
}

h5{
border-style: solid;
border-bottom:solid; 
border-bottom-width: 3px;
padding: 0px;
margin-bottom: 15px;
display: inline;
}

h6 {
font:bold 30px Futra;
/*text-align: center;
margin-right: 40%; 
margin-top: 20px;
margin-bottom: 15px;*/
display: inline-block;
border-style: :dashed;
border-bottom: dashed;
border-bottom-width: 3px;
}

.SkillHeader{
color: black;
text-align: center;
padding: 0px;
column-count: 2;
column-gap: 1em;
white-space: pre-wrap;
}
.Skills{
font:bolder 25px Futra,Times, sans-serif;
color: black;
text-align: center;
padding: 0px;
column-count: 2;
column-gap: 1em;
white-space: pre-wrap;}

/*#PSKILLS {*/
/*margin-left: 8%;*/
/*float: left;*/
/*line-height:35px;
width: 30%;
vertical-align: top;
}*/

/*#ASKILLS{
*//*margin-left: 55%;
margin-top: -10.5%;
text-align: center;*/
/*line-height:35px;
width: 60%;
vertical-align: top;
}
*/
.Projects{
font:bolder 40px Futra;
text-align:center;
position: relative;
width: 100%;
}

.mySlides{
display: none;
padding: 10px;
max-width: 410px;
margin: auto;
}

.mySlides:nth-child(2){
  display: block;
}


body{
 text-align: center;
 background:rgb(148, 150, 153);
 }

p {color: black}